@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #FCB827;
}

.start {
  font-size: 28px;
}

h1 {
  background: -webkit-linear-gradient(#fccc65, #ff651e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  shadow: 4px 4px 8px #fccc65;
  line-height: 1.4;
  font-size: 80px;
}

h2{
  font-size: 35px;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #FCB827;
  color: #FCB827;
}

.hide {
  opacity: 0;
}

.primary {
  color: #FCB827;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s;
}

.up-button {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #FCB827;
  border-color:#fff ;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 18px 34px;
}
.up-button:hover{
  border: 2px solid #FCB827;
  color: #FCB827;
}

.up-button:focus {
  outline: none;
}

.top-screen{
  margin-bottom: -300vh;
}